*{
  margin: 0;
  padding: 0;
     }
   html,body{
       width: 100%;
       height: 100%;
       background-color: rgb(240,240,240)
     }
   h1, h2, h3, h4, h5, h6 {
     color: rgba(0, 0, 0, 0.85);
     font-weight: 500;
   }
   font {

   }

   .result_css_root{
       height: 100%;
       width: 100%;
       /*background-color:white;*/
   }

   .result_css_title{
       width: 100%;
       height:65px;
       background-color: rgba(64, 64, 64, 0.94);
   }
   .result_css_content{
       border: 1px solid rgb(220,220,220);
       margin: 70px 40px 40px 40px;
       background-color:white;
       height: 100%;
   }

   .result_css_head{
       margin: 60px 120px 20px 120px;
       background-color:rgb(240,240,240);
   }
   .result_css_tabdiv{
       margin: 30px 120px 20px 120px;
       background-color:rgb(240,240,240);
   }

   .result_css_text{
       line-height: 30px;
       color:rgb(110,110,110);
       font-size: 15px;
       margin-left:20px
       }
   .result_css_th  {
       background-color: rgb(240,240,240);
       border-right: 1px solid rgb(220,220,220);
       color: rgb(110,110,110);
       line-height: 28px;
       font-weight: normal;

   }
   .result_css_module_td{
       border-right: 1px solid rgb(220,220,220);
       border-top: 1px solid rgb(220,220,220);
       color: rgb(110,110,110);
       line-height: 28px;
       font-weight: normal;
       text-align:center
   }
   .result_css_module_name{
       border-right: 1px solid rgb(220,220,220);
       border-top: 1px solid rgb(220,220,220);
       color: rgb(110,110,110);
       line-height: 28px;
       font-weight: normal;
       text-align:center
   }
   .result_css_module_td_view{
       border-right: 1px solid rgb(220,220,220);
       border-top: 1px solid rgb(220,220,220);
       color: rgb(110,110,110);
       line-height: 28px;
       font-weight: normal;
       text-align:center
   }
   .result_css_module_deta{
       background-color: rgb(240,240,240);
       border-right: 1px solid rgb(220,220,220);
       border-top: 1px solid rgb(220,220,220);
       color: rgb(110,110,110);
       vertical-align: top

   }
   .result_css_table{
       width: calc(100% - 40px);
       margin: 20px;
       border: 1px solid rgb(220,220,220);result_css_
       border-right-width: 0;
   }
   .result_css_head_title{
       border: 1px solid rgb(220,220,220);
       background-color: white;
       border-bottom-width: 0;
       color:rgb(88,88,88);
       font-size: large;
       text-indent: 10px;
       line-height: 30px;

   }

   .result_css_success{
       background-color: rgba(57, 121, 4, 0.36);
   }
   .result_css_successfont{
       color: #333;
   }
   .result_css_failure{
       background-color: rgba(175, 118, 0, 0.36);
   }
   .result_css_error{
       background-color: rgba(121, 0, 12, 0.34);
   }
   .result_css_errorfont{
       color:rgba(121, 0, 12, 0.34);
   }
   .result_css_skipped{
       background-color: rgba(121, 111, 112, 0.36);
   }
   .result_css_status{
       border-radius: 4px;
       border: 1px solid rgb(220,220,220);
       padding: 1px;
   }

   .result_css_child {
	float: left;
	height: 400px;
	width: calc(50%);
	box-sizing: border-box;
	background-clip: content-box;
}

   .result_css_errordiv{
       margin: 20px;
       /*background-color: white;*/
       /*border: 1px solid rgb(220,220,220);*/
       width: auto;
       height: auto;
       vertical-align: bottom;

   }
   .result_css_errorp{
       width: calc(100% - 300px);
       display: inline-block;
       vertical-align: top;
       margin-top: 15px;
       font-size: 13px;
       color: #333;
       word-break: break-all;
   }


   /*æªå¾*/
   .result_css_SnapshotDiv_root{
       width: 447px;
       height: auto;
       display:flex;
       margin: auto;
       align-items:stretch;
       /*text-align: center;*/
   }

   .result_css_Stepsdetails{
    margin-bottom: 2px;

    }
    .result_css_StepsdetailsDiv{
        width: 100%;
        height: 37px;
        border-radius: 4px;
        border: 1px solid rgb(220,220,220);
        box-shadow:4px 4px 10px rgb(220,220,220);
        background-color: white;
    }

    .result_css_StepsdetailsPre{
        line-height: 17px;
        font-size: 13px;
        word-break: break-all;
        word-wrap: break-word;
        display: inline-block;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 800px;
    }

    .result_css_StepsdetailsPre_duration{
        line-height: 18px;
        font-size: 10px;
        color: #333;
        overflow: hidden;
        word-break: break-all;
        display: inline-block;
        text-align: center;
    }

    .result_css_show_hide{
        width: 26px;
        margin-top: 5.5px
    }
    .result_css_img {
        width: 250px;
        vertical-align: top;
        background-color: white;
        margin: 15px;
        margin-left: 0;
        border: 1px solid rgb(220,220,220);
        box-shadow:4px 4px 10px rgb(220,220,220);
  }

   .result_css_imgDiv{
       display: inline-block;
   }

   .result_css_stepspan {
       display: block;
       position: relative;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.4);
       word-wrap:break-word;
       line-height: 1;
       text-align:left;
       color: white;
       padding: 10px;
       font-size: 13px;
       width: 317px;
   }
   .result_css_leftbutton{
       display: inline;
       position: absolute;
       left: 10px;
       z-index: 1;
       top: 50%;
   }
   .result_css_rightbutton{
       display: inline;
       right: 10px;
       position: absolute;
       z-index: 1;

       top: 50%;
   }

